// app global css in SCSS form

.questions {
    font-size: 20px;
    padding: 10px;
}

.inputs{
    padding: 10px;
    padding-left: 50px;
    width: 300px;
}

.surveyquestions{
    padding-left: 50px;
}